<!DOCTYPE html>
<html lang="{{ ((languages|filter(v => v.current))|first).locale }}" dir="ltr" data-bs-theme="light" data-color-theme="Blue_Theme" data-layout="vertical">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/png" href="{{ __ASSETS__('images/logos/favicon.png') }}"/>
    <!-- Core Css -->
    <link rel="stylesheet" href="{{ __ASSETS__('css/styles.css') }}"/>
    <title>{% block title %}{{ trans("Site title") }}{% endblock %}</title>
    <meta name="description" content="description">
    <!-- Import Js Files -->
    <script src="{{ __ASSETS__('js/do.js') }}"></script>
    <script src="{{ __ASSETS__('js/package.js') }}"></script>
</head>

<body>
<!-- Preloader -->
<div class="preloader">
    <img src="{{ __ASSETS__('images/logos/logo.png') }}" alt="loader" class="lds-ripple img-fluid"/>
</div>
{% block noNeedAuth %}
    <!-- main-wrapper -->
    <div id="main-wrapper">
        <!-- Sidebar Start -->
        <aside class="left-sidebar with-vertical">
            <div class="brand-logo d-flex align-items-center justify-content-between">
                <a href="{{ url('admin.index') }}" class="text-nowrap logo-img">
                    <img src="{{ __ASSETS__('images/logos/dark-logo.svg') }}" class="dark-logo" alt="Logo-Dark"/>
                    <img src="{{ __ASSETS__('images/logos/light-logo.svg') }}" class="light-logo" alt="Logo-light"/>
                </a>
                <!-- 移动端关闭菜单 -->
                <a href="javascript:void(0)" class="sidebartoggler ms-auto text-decoration-none fs-5 d-block d-xl-none">
                    <i class="ti ti-x"></i>
                </a>
            </div>
            <nav class="sidebar-nav scroll-sidebar" data-simplebar>
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                        <span class="hide-menu">Home</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="" id="get-url" aria-expanded="false">
                            <span><i class="ti ti-aperture"></i></span>
                            <span class="hide-menu">Modern</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <!--  Sidebar End -->
        <div class="page-wrapper">
            <!--  Header Start -->
            <header class="topbar">
                <div class="with-vertical">
                    <!-- ---------------------------------- -->
                    <!-- Start Vertical Layout Header -->
                    <!-- ---------------------------------- -->
                    <nav class="navbar navbar-expand-lg p-0">
                        <ul class="navbar-nav quick-links d-none d-lg-flex align-items-center">
                            <li class="nav-item dropdown-hover d-none d-lg-block">
                                <a class="nav-link" href="../main/app-chat.html">Chat</a>
                            </li>
                            <li class="nav-item dropdown-hover d-none d-lg-block">
                                <a class="nav-link" href="../main/app-calendar.html">Calendar</a>
                            </li>
                            <li class="nav-item dropdown-hover d-none d-lg-block">
                                <a class="nav-link" href="../main/app-email.html">Email</a>
                            </li>
                        </ul>
                        <!-- 移动端顶部logo -->
                        <div class="d-block d-lg-none py-4">
                            <a href="{{ url('admin.index') }}" class="text-nowrap logo-img">
                                <img src="{{ __ASSETS__('images/logos/dark-logo.svg') }}" class="dark-logo" alt="Logo-Dark"/>
                                <img src="{{ __ASSETS__('images/logos/light-logo.svg') }}" class="light-logo" alt="Logo-light"/>
                            </a>
                        </div>
                        <!-- 移动端顶部logo -->
                        <a class="navbar-toggler nav-icon-hover-bg rounded-circle p-0 mx-0 border-0" href="javascript:void(0)" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                           aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="ti ti-dots fs-7"></i>
                        </a>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                            <div class="d-flex align-items-center justify-content-between">
                                <a href="javascript:void(0)" class="nav-link nav-icon-hover-bg rounded-circle mx-0 ms-n1 d-flex d-lg-none align-items-center justify-content-center" type="button"
                                   data-bs-toggle="offcanvas" data-bs-target="#mobilenavbar" aria-controls="offcanvasWithBothOptions">
                                    <i class="ti ti-align-justified fs-7"></i>
                                </a>
                                <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-center">
                                    <!-- 切换深色浅色 -->
                                    <li class="nav-item nav-icon-hover-bg rounded-circle">
                                        <a class="nav-link moon dark-layout" href="javascript:void(0)">
                                            <i class="ti ti-moon moon"></i>
                                        </a>
                                        <a class="nav-link sun light-layout" href="javascript:void(0)">
                                            <i class="ti ti-sun sun"></i>
                                        </a>
                                    </li>
                                    <!-- 选择语言 -->
                                    <li class="nav-item nav-icon-hover-bg rounded-circle dropdown">
                                        <a class="nav-link" href="javascript:void(0)" id="drop2" aria-expanded="false">
                                            <img src="{{ __ASSETS__('images/svgs/icon-flag-en.svg') }}" alt="modernize-img" width="20px" height="20px"
                                                 class="rounded-circle object-fit-cover round-20"/>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                            <div class="message-body">
                                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 py-3 px-4 dropdown-item">
                                                    <div class="position-relative">
                                                        <img src="{{ __ASSETS__('images/svgs/icon-flag-en.svg') }}" alt="modernize-img" width="20px" height="20px"
                                                             class="rounded-circle object-fit-cover round-20"/>
                                                    </div>
                                                    <p class="mb-0 fs-3">English (UK)</p>
                                                </a>
                                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 py-3 px-4 dropdown-item">
                                                    <div class="position-relative">
                                                        <img src="{{ __ASSETS__('images/svgs/icon-flag-cn.svg') }}" alt="modernize-img" width="20px" height="20px"
                                                             class="rounded-circle object-fit-cover round-20"/>
                                                    </div>
                                                    <p class="mb-0 fs-3">中国人 (Chinese)</p>
                                                </a>
                                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 py-3 px-4 dropdown-item">
                                                    <div class="position-relative">
                                                        <img src="{{ __ASSETS__('images/svgs/icon-flag-fr.svg') }}" alt="modernize-img" width="20px" height="20px"
                                                             class="rounded-circle object-fit-cover round-20"/>
                                                    </div>
                                                    <p class="mb-0 fs-3">français (French)</p>
                                                </a>
                                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 py-3 px-4 dropdown-item">
                                                    <div class="position-relative">
                                                        <img src="{{ __ASSETS__('images/svgs/icon-flag-sa.svg') }}" alt="modernize-img" width="20px" height="20px"
                                                             class="rounded-circle object-fit-cover round-20"/>
                                                    </div>
                                                    <p class="mb-0 fs-3">عربي (Arabic)</p>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item nav-icon-hover-bg rounded-circle dropdown">
                                        <a class="nav-link position-relative" href="javascript:void(0)" id="drop2" aria-expanded="false">
                                            <i class="ti ti-bell-ringing"></i>
                                            <div class="notification bg-primary rounded-circle"></div>
                                        </a>
                                        <div class="dropdown-menu content-dd dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                            <div class="d-flex align-items-center justify-content-between py-3 px-7">
                                                <h5 class="mb-0 fs-5 fw-semibold">Notifications</h5>
                                                <span class="badge text-bg-primary rounded-4 px-3 py-1 lh-sm">2 new</span>
                                            </div>
                                            <div class="message-body" data-simplebar>
                                                <a href="javascript:void(0)" class="py-6 px-7 d-flex align-items-center dropdown-item">
                                                    <span class="me-3">
                                                        <img src="{{ __ASSETS__('images/profile/user-2.jpg') }}" alt="user" class="rounded-circle" width="48" height="48"/>
                                                    </span>
                                                    <div class="w-100">
                                                        <h6 class="mb-1 fw-semibold lh-base">Roman Joined the Team!</h6>
                                                        <span class="fs-2 d-block text-body-secondary">Congratulate him</span>
                                                    </div>
                                                </a>
                                                <a href="javascript:void(0)" class="py-6 px-7 d-flex align-items-center dropdown-item">
                                                    <span class="me-3">
                                                        <img src="{{ __ASSETS__('images/profile/user-3.jpg') }}" alt="user" class="rounded-circle" width="48" height="48"/>
                                                    </span>
                                                    <div class="w-100">
                                                        <h6 class="mb-1 fw-semibold lh-base">New message</h6>
                                                        <span class="fs-2 d-block text-body-secondary">Salma sent you new message</span>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="py-6 px-7 mb-1">
                                                <button class="btn btn-outline-primary w-100">See All Notifications</button>
                                            </div>
                                        </div>
                                    </li>

                                    <!-- 用户资料 -->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link pe-0" href="javascript:void(0)" id="drop1" aria-expanded="false">
                                            <div class="mx-2">{{ account.username }}</div>
                                            <div class="d-flex align-items-center">
                                                <div class="user-profile-img">
                                                    <img src="{{ __ASSETS__('images/profile/user-1.jpg') }}" class="rounded-circle" width="36" height="36" alt="modernize-img"/>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu content-dd dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop1">
                                            <div class="profile-dropdown position-relative" data-simplebar>
                                                <div class="py-3 px-7 pb-0">
                                                    <h5 class="mb-0 fs-5 fw-semibold">User Profile</h5>
                                                </div>
                                                <div class="d-flex align-items-center py-9 mx-7 border-bottom">
                                                    <img src="{{ __ASSETS__('images/profile/user-1.jpg') }}" class="rounded-circle" width="80" height="80" alt="modernize-img"/>
                                                    <div class="ms-3">
                                                        <h5 class="mb-1 fs-3">{{ account.username }}</h5>
                                                        <span class="mb-1 d-block">{{ account.nickname }}</span>
                                                        <p class="mb-0 d-flex align-items-center gap-2">
                                                            <i class="ti ti-mail fs-4"></i><span>{{ account.email }}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="message-body">
                                                    <a href="{{ url('admin.account.index') }}" class="py-8 px-7 mt-8 d-flex align-items-center">
                                                        <span class="d-flex align-items-center justify-content-center text-bg-light rounded-1 p-6">
                                                          <img src="{{ __ASSETS__('images/svgs/icon-account.svg') }}" alt="modernize-img" width="24" height="24"/>
                                                        </span>
                                                        <div class="w-100 ps-3">
                                                            <h6 class="mb-1 fs-3 fw-semibold lh-base">My Profile</h6>
                                                            <span class="fs-2 d-block text-body-secondary">Account Settings</span>
                                                        </div>
                                                    </a>
                                                    <a href="../main/app-email.html" class="py-8 px-7 d-flex align-items-center">
                                                        <span class="d-flex align-items-center justify-content-center text-bg-light rounded-1 p-6">
                                                          <img src="{{ __ASSETS__('images/svgs/icon-inbox.svg') }}" alt="modernize-img" width="24" height="24"/>
                                                        </span>
                                                        <div class="w-100 ps-3">
                                                            <h6 class="mb-1 fs-3 fw-semibold lh-base">My Inbox</h6>
                                                            <span class="fs-2 d-block text-body-secondary">Messages & Emails</span>
                                                        </div>
                                                    </a>
                                                    <a href="../main/app-notes.html" class="py-8 px-7 d-flex align-items-center">
                                                        <span class="d-flex align-items-center justify-content-center text-bg-light rounded-1 p-6">
                                                          <img src="{{ __ASSETS__('images/svgs/icon-tasks.svg') }}" alt="modernize-img" width="24" height="24"/>
                                                        </span>
                                                        <div class="w-100 ps-3">
                                                            <h6 class="mb-1 fs-3 fw-semibold lh-base">My Task</h6>
                                                            <span class="fs-2 d-block text-body-secondary">To-do and Daily Tasks</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="d-grid py-4 px-7 pt-8">
                                                    <button id="LogOut" href="{{ url('admin.account.logout') }}" class="btn btn-outline-primary">Log Out</button>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <!--  Header End -->
        </div>
    </div>
{% endblock %}

<div class="dark-transparent sidebartoggler"></div>
{% block js %}
    <script type="text/javascript">
        Do('base', () => {
            // 退出登录
            $('#LogOut').actUrl({}, (rel) => {
                toastr.success(rel.msg);
                setTimeout(function () {
                    if (rel.hasOwnProperty('url')) window.location.replace(rel.url);
                    else window.location.reload();
                }, 1000);
            });
        });
    </script>
{% endblock %}
</body>
</html>