{% extends './layout.twig' %}

{% block mainWrapper %}
    <div id="main-wrapper" class="auth-customizer-none">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 w-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
                        <div class="card mb-0">
                            <div class="card-body">
                                <a href="{{ url('index') }}" class="text-nowrap logo-img text-center d-block mb-5 w-100">
                                    <img src="{{ __ASSETS__('images/logos/dark-logo.svg') }}" class="dark-logo" alt="Logo-Dark"/>
                                    <img src="{{ __ASSETS__('images/logos/light-logo.svg') }}" class="light-logo" alt="Logo-light"/>
                                </a>
                                <div class="row">
                                    <div class="col-6 mb-2 mb-sm-0">
                                        <a class="btn text-dark border fw-normal d-flex align-items-center justify-content-center rounded-2 py-8" href="javascript:void(0)" role="button">
                                            <img src="{{ __ASSETS__('images/svgs/google-icon.svg') }}" alt="modernize-img" class="img-fluid me-2" width="18" height="18">
                                            <span class="flex-shrink-0">{{ trans("admin.login.key4") }}</span>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a class="btn text-dark border fw-normal d-flex align-items-center justify-content-center rounded-2 py-8" href="javascript:void(0)" role="button">
                                            <img src="{{ __ASSETS__('images/svgs/facebook-icon.svg') }}" alt="modernize-img" class="img-fluid me-2" width="18" height="18">
                                            <span class="flex-shrink-0">{{ trans("admin.login.key5") }}</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="position-relative text-center my-4">
                                    <p class="mb-0 fs-4 px-3 d-inline-block bg-body text-dark z-index-5 position-relative">{{ trans("admin.login.key3") }}</p>
                                    <span class="border-top w-100 position-absolute top-50 start-50 translate-middle"></span>
                                </div>
                                <form>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">{{ trans("admin.login.key1") }}</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-4">
                                        <label for="exampleInputPassword1" class="form-label">{{ trans("admin.login.key2") }}</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input primary" type="checkbox" id="flexCheckChecked">
                                            <label class="form-check-label text-dark" for="flexCheckChecked">{{ trans("admin.login.key6") }}</label>
                                        </div>
                                    </div>
                                    <a href="../main/index.html" class="btn btn-primary w-100 py-8 mb-4 rounded-2">{{ trans("admin.login.key7") }}</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}